@use "../variables" as *;
@use "../mixin" as *;

.input-container {
  width: 100%;
  min-height: 77.19px;
  max-width: 422px;
  gap: 8px;

  > .input-content {
    > input {
      width: 100%;
      border: 0;
      font-size: 20px;

      &:not(:placeholder-shown) ~ .pw-icon {
        background-image: url("../../../assets/icons/visibility_off.svg");
      }
    }
  }

  &:nth-of-type(4) {
    height: 70px;
  }

  &:focus-visible {
    outline: none;
  }
}






.input-checkbox > span {
  gap: 10px;
}

.input-checkbox {
  width: 231px;
  height: 24px;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background-color: #edf2fa;
  border-radius: 43px;
}

input[type="checkbox"]:checked {
  background: url("../assets/icons/checkbox_checked.svg") no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: unset;
  border-width: 2px;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked:hover {
  background-color: #edf2fa;
  border-radius: 51px;
}
