

@keyframes pulse {
  50%{
transform: scale(1.1);
background-color: #2a3647;
  }
}

   /*  @keyframes easein {
      100% {
        top: 37px;
        left: 38px;
        transform: translate(0, 0);
      }
    } */