@use "../index" as *;

body {
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% calc(100dvh - 20%) 10%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  max-width: 1920px;
  margin-inline: auto;
  > header {
    grid-area: header;
    @include dFlex($fd: row-reverse, $jc: space-between);
    @include padding($p: 24px);
    height: 100%;
    > .site-container {
      @include dFlex($jc: flex-end, $fd: unset);
      z-index: 2;
      > .signup-container {
        @include dFlex($fd: unset);
        max-height: 72%;
        gap: 35px;
        animation: hide 2s forwards;
        > .text-to-signup {
          @include font($fs: 1.25rem);
        }
        > .btn-primary {
          @include size($h: 49px, $w: 91px);
          font-size: 16px;
        }
      }
    }
    > aside {
      > .join-logo {
        > img {
          position: relative;
          animation: easein 2s ease-in;
          @include size($h: 100%, $w: 100%);
          z-index: 2;
          max-width: 80px;
          max-height: 80px;
        }
      }
    }
  }

  > main {
    grid-area: main;
    @include dFlex($g: 32px);
    @include size($h: 100%, $w: 100%);
    @include position($t: 50%, $l: 50%);
    @include padding($p: 48px 115px);
    max-width: 652px;
    max-height: 480px;
    border-radius: 30px;
    background-color: #ffffff;
    animation: hide 2s forwards;
    z-index: -1;
    transition: ease-in-out 0.5s;
    > .headline-container {
      @include dFlex();
      max-width: 280px;
      max-height: 89px;
      gap: 16px;
      > h1 {
        @include font($fs: 61px, $fw: 700);
        @include text();
        margin-block-start: 0;
        margin-block-end: 0;
      }
      > .headline-underline {
        width: 150px;
        @include underline();
      }
    }

    > form {
      @include dFlex($g: 20px);
      > .input-container {
        @include dFlex($jc: space-between, $g: 8px);
        min-height: 78.19px;
        max-width: 90%;
        @include size($w: 100%);
        > .input-content {
          @include dFlex($fd: row, $g: 10px);
          @include size($h: 24px, $w: 100%);
          @include inputBorder();
          @include padding($p: 12px 21px);
          max-width: 100%;
          & input:not(:placeholder-shown) ~ .pw-icon {
            background-image: url("../assets/icons/visibility_off.svg");
          }
        }
        > .login-error {
          @include text($c: #ff8190);
          @include font($fs: 13px, $fw: 400);
          @include size($h: 16px);
          margin: 1px 0;
          position: relative;
        }
      }
    }

    > .login-btn-container {
      @include dFlex($fd: row);
      width: 100%;
      gap: 35px;
    }

    > .reset-join {
      .reset-join-btn {
        &:hover {
          cursor: pointer;
          color: #007cee;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  animation: hide 2s forwards;
  z-index: 1 !important;

  > .policy-notice-list {
    @include dFlex($fd: row, $g: 8px);
    @include font();
    @include text($c: #a8a8a8);
    > li {
      min-width: 109px;

      > a {
        &:hover {
          color: #29abe2;
          font-weight: 600;
          font-style: bold;
        }
        &:visited {
          color: #a8a8a8;
        }
      }
    }
  }
}

.background-fade {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  position: absolute;
  animation: backgroundFade 2s ease-in-out;
}

@media screen and (max-width: 992px) {
  main {
    width: 80% !important;
    padding: 20px !important;
  }

  .input-container {
    max-height: 77.19px;
    min-height: 10.19px;
  }

  .reset-join {
    display: none;
  }

  .join-logo > img {
    height: 64px;
    width: 78px;
  }
}

@media (max-width: 480px) {
  .text-to-signup {
    display: none;
  }

  main {
    gap: 24px !important;
  }

  form {
    gap: 8px !important;
  }

  h1 {
    font-size: 52px !important;
  }

  .input-container {
    max-width: 200px !important;
  }
  input {
    font-size: 1rem !important;
  }

  .login-btn-container {
    flex-direction: column !important;
    gap: 16px !important;
    > .btn-primary,
    .btn-transparent {
      max-width: 180px !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .site-container {
    padding: 0 30px 0 0;
  }

  .input-content {
    height: 16px;
  }
}

@media screen and (max-width: 380px) {
  main {
    max-height: 400px !important;
  }
}

@media screen and (max-height: 700px) {
  .input-content {
    height: 12px;
  }
}

@media screen and (max-height: 439px) {
  .landscape-orientation {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -0%;
    background: rgb(0, 0, 0, 0.9);
    left: -0%;
    overflow: initial;
    z-index: 9999;
    color: #ffffff;
  }
}

/* SIGNUP - PAGE */
/* .login-container > form {
  position: relative;
}

.policy-notice-secondary {
  height: 35px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.policy-notice-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
} 
  

.accept-policy:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
  
*/
