@use "../index" as *;

body {
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-columns: 200px calc(100% - 400px) 200px;
  grid-template-rows: 100px calc(100dvh - 100px - 10%) 10%;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "footer footer footer";
  height: 100vh;

  > header {
    grid-area: header;
    @include padding($p: 48px);
    > .site-container {
      @include dFlex($jc: flex-end, $fd: unset);
      z-index: 2;
      > .signup-container {
        @include dFlex($fd: unset);
        max-height: 72%;
        gap: 35px;
        animation: hide 2s forwards;
        > .text-to-signup {
          @include font($fs: 1.25rem);
        }
        > .btn-primary {
          @include size($h: 49px, $w: 91px);
          font-size: 16px;
        }
      }
    }
  }
  > aside {
    grid-area: aside;
    > .join-logo {
      @include position($t: 50%, $l: 50%);
      animation: easein 2s forwards;
      z-index: 2;
    }
  }

  > main {
    grid-area: main;
    @include dFlex($g: 32px);
    @include size($h: 100%, $w: 100%);
    @include position($t: 50%, $l: 50%);
    @include padding($p: 48px 115px);
    max-width: 652px;
    max-height: 60%;
    border-radius: 30px;
    background-color: #ffffff;
    animation: hide 2s forwards;
    z-index: -1;
    transition: ease-in-out 0.5s;
    > .headline-container {
      @include dFlex();
      max-width: 280px;
      max-height: 89px;
      gap: 16px;
      > h1 {
        @include font($fs: 61px, $fw: 700);
        @include text();
        margin-block-start: 0;
        margin-block-end: 0;
        /*         width: 100%;
        height: 73px;
        gap: 16px; */
      }
      > .headline-underline {
        width: 150px;
        @include underline();
      }
    }

    > form {
      @include dFlex($g: 20px);

      > .input-container {
        @include dFlex($jc: space-between, $g: 8px);
        min-height: 78.19px;
        max-width: 422px;
        > .input-content {
          @include dFlex($fd: row, $g: 10px);
          @include size($h: 24px, $w: 100%);
          @include inputBorder();
          @include padding($p: 12px 21px);
          max-width: 100%;
          & input:not(:placeholder-shown) ~ .pw-icon {
            background-image: url("../assets/icons/visibility_off.svg");
          }
        }
        > .login-error {
          @include text($c: #ff8190);
          @include font($fs: 13px, $fw: 400);
          @include size($h: 16px);
          margin: 1px 0;
          position: relative;
        }
      }
    }

    > .login-btn-container {
      @include dFlex($fd: row);
      width: 100%;
      gap: 35px;
    }

    > .reset-join {
      .reset-join-btn {
        &:hover {
          cursor: pointer;
          color: #007cee;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  animation: hide 2s forwards;
  z-index: 1 !important;

  > .policy-notice-list {
    @include dFlex($fd: row, $g: 8px);
    @include font();
    @include text($c: #a8a8a8);
  }
}

@media screen and (max-width: 992px) {
  main {
    width: 322px;
  }

  .input-container {
    max-height: 77.19px;
    min-height: 10.19px;
  }

  .reset-join {
    display: none;
  }

  .join-logo > img {
    height: 64px;
    width: 78px;
  }
}

@media (max-width: 480px) {
  .text-to-signup {
    display: none;
  }

  @media screen and (max-width: 400px) {
    .site-container {
      padding: 0 30px 0 0;
    }

    .btn-primary {
      width: 70px !important;
      height: 30px !important;
    }

    .login-btn-container {
      gap: 8px;
      > button {
        height: 34px;
        width: 110px;
      }
    }
    .input-content {
      height: 16px;
    }
  }

  @media screen and (max-height: 700px) {
    .input-content {
      height: 12px;
    }
  }

  /*  */

  li > a:visited {
    color: #a8a8a8;
  }

  li > a:hover {
    color: #29abe2;
    font-weight: 600;
    font-style: bold;
  }

  .accept-policy:hover {
    text-decoration: underline;
    text-decoration-style: solid;
  }

  .login-button-wrap {
    flex-direction: column-reverse;
    gap: 16px;
  }

  li {
    min-width: 109px;
  }

  .background-fade {
    height: 100%;
    width: 100%;
    background-color: #f6f7f8;
    position: absolute;
    animation: backgroundFade 2s ease-in-out;
  }

  /*  .join-logo-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: easein 2s forwards;
    z-index: 2;
  } */

  .login-container > form {
    position: relative;
  }

  .policy-notice-secondary {
    height: 35px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .policy-notice-list {
    list-style-type: none;
    display: flex;
    gap: 8px;
  }
}

@media screen and (max-height: 439px) {
  .landscape-orientation {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -0%;
    background: rgb(0, 0, 0, 0.9);
    left: -0%;
    overflow: initial;
    z-index: 9999;
    color: #ffffff;
  }
}
