@use './index.scss' as *;

h1 {
  margin: 0;
  @include font($fs: 61px, $fw: 700);
}


.add-task-container{
  @include dFlex($ai: flex-start, $g: 48px);
  @include padding($p: 60px 96px 0 96px);
}

.add-task-form-input {
  gap: 48px;
}

.toast-msg {
  @include position($p: fixed, $t: 75%, $l: 50%);
  @include padding($p: 20px);
  @include font($fs: 20px);
  transform: translate(300%, -50%);
  color: white;
  background-color: #2a3647;
  opacity: 0;
  border-radius: 20px;
  pointer-events: none;
  z-index: 100;

  > .toast-msg-spans{
    @include dFlex($fd: unset, $jc: space-between, $g: 32px);
  }
}

.toast-msg.show {
  animation: toast-fly-in-out 3s linear;
  opacity: 1 !important;
}

.add-task-toast-icon {
  @include size($w: 25px, $h: 30px);
  background-image: url("../assets/icons/add-task-toast-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.separator {
  width: 1px;
  min-width: 1px;
  background-color: #d1d1d1;
}

.separator-subtask-edit-delete-icons {
  width: 1px;
  height: 16px;
  background-color: #2a3647;
}

.task-input-border {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.task-input-border:focus {
  border: 1px solid #29abe2;
}

.task-input-text-field {
  height: 48px;
  padding: 12px 21px;
}

.task-input-text-area {
  min-height: 120px;
  padding: 18px 16px;
}

.task-input-date {
  height: 48px;
  padding: 12px 16px;
}

.task-form-btn-wrap {
  gap: 16px;
}

.task-form-btn {
  border: 1px solid #2a3647;
  padding: 16px;
  border-radius: 10px;
  gap: 12px;
}

.task-input-category {
  padding: 12px 16px;
  min-height: 52px;
  cursor: pointer;
}

.task-input-dropdown {
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 320px;
  overflow-y: auto;
}

.task-dropdown-icon {
  width: 7px;
  height: 5px;
  top: 56px;
  transform: translateY(-50%);
  right: 16px;
  pointer-events: none;
  background-image: url("../assets/icons/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.task-dropdown-open-icon {
  background-image: url("../assets/icons/arrow_drop_up.svg");
}

.task-category-option {
  padding: 12px 16px;
  border-radius: 10px;
}

.task-category-option:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.task-subtask-icon {
  top: 56px;
  transform: translateY(-50%);
  right: 16px;
}

.task-add-subtask-icon {
  width: 14px;
  height: 14px;
  background-image: url("../assets/icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.task-clear-subtask-icon {
  width: 11px;
  height: 11px;
  background-image: url("../assets/icons/cancel.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.task-submit-subtask-icon {
  width: 16px;
  height: 11px;
  background-image: url("../assets/icons/check_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.task-submit-subtask-icon:hover {
  transform: scale(1.1);
}

.task-subtask-icon-wrap {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.task-subtask-icon-wrap:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.tasks-subtask-list {
  height: 90px;
  overflow-y: auto;
}

.subtask-list-element {
  list-style-position: inside;
  border-radius: 10px;
  padding: 8px 8px;
  width: 100%;
}

.subtask-list-element:hover {
  background-color: #d1d1d1;
}

.subtask-list-element:hover .edit-subtask {
  background-color: white;
}

.task-subtask-control-icon-wrap {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.subtask-list-element:hover .task-subtask-control-icon-wrap {
  display: flex;
  cursor: pointer;
}

.task-edit-subtask-icon {
  height: 13px;
  width: 13px;
  background-image: url("../assets/icons/edit.svg");
  background-size: contain;
}

.task-edit-subtask-icon:hover {
  transform: scale(1.1);
}

.task-delete-subtask-icon {
  height: 13px;
  width: 13px;
  background-image: url("../assets/icons/delete.svg");
  background-size: contain;
}

.task-delete-subtask-icon:hover {
  transform: scale(1.1);
}

.clear-task-btn-icon {
  width: 11px;
  height: 11px;
  background-image: url("../assets/icons/cancel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clear-task-btn {
  color: #2a3647;
}

.clear-task-btn:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
}

.clear-task-btn:hover .clear-task-btn-icon {
  background-image: url("../assets/icons/close-blue.svg");
}

.submit-task-btn {
  background-color: #2a3647;
}

.submit-task-btn:hover {
  background-color: #29abe2;
}

.submit-task-btn-icon {
  width: 16px;
  height: 11px;
  background-image: url("../assets/icons/check_withoutBorder.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.task-priority-btn {
  width: 100%;
  padding: 16px 10px;
  background: white;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.task-priority-btn:hover {
  box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.1);
}

.task-priority-btn-icon {
  display: inline-block;
  width: 20px;
  height: 15px;
}

.urgent-icon {
  background-image: url("../assets/icons/urgent.svg");
}

.medium-icon {
  background-image: url("../assets/icons/medium.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.low-icon {
  background-image: url("../assets/icons/low.svg");
}

.active-urgent {
  color: white;
  font-weight: 700;
  background-color: #ff3a00;
}

.active-medium {
  color: white;
  font-weight: 700;
  background-color: #ffa800;
}

.active-low {
  color: white;
  font-weight: 700;
  background-color: #7ae229;
}

.active-urgent .urgent-icon {
  background-image: url("../assets/icons/urgent_white.svg");
}

.active-medium .medium-icon {
  background-image: url("../assets/icons/medium_white.svg");
}

.active-low .low-icon {
  background-image: url("../assets/icons/low_white.svg");
}

.task-assigned-contacts-checkbox-icon {
  display: block;
  background-image: url("../assets/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.focus .task-assigned-contacts-checkbox-icon {
  background-image: url("../assets/icons/checkbox_checked_white.svg");
}

.task-assigned-contact-wrap {
  border-radius: 10px;
}

.task-assigned-contact-wrap:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}



@media screen and (max-width: 1200px) {
  .form-sub-wraps {
    flex-direction: column;
    gap: 24px;
  }

  .scrollable-y {
    overflow-y: scroll;
  }

  .pd-lr-96px {
    padding: 24px 24px 40px 24px;
  }

  .task-input-text-field {
    max-width: 100%;
  }
  .d-flex-row-end-sb {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }
}

@media screen and (max-width: 820px) {
  .font-Inter-700-61px {
    font-size: 47px;
  }

  span,
  .font-Inter-400-20px,
  .font-Inter-700-21px {
    font-size: 16px;
  }

  .task-button-mobile {
    flex-direction: column;
    gap: 16px;
    height: 90px;
  }

  .task-priority-btn {
    padding: 10px 2px;
  }
}
